<div class="container">
  <p class="text-center font-weight-bold" style="font-weight:600;font-size:30px"> All User </p>

  <div class="d-flex justify-content-start">
   
  </div>

  <div class="table-container">
    <table class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr style="background-color:black">
          <th  scope="col">#</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Address</th>
          <th scope="col">Medical Status</th>
          <th scope="col">Flat Type</th>
          <th scope="col">Financial Status</th>
          <th scope="col">Have Kids</th>
          <th scope="col">More Details</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" class="animated fadeIn">
          <th scope="row">{{ user.userId }}</th>
          <td>{{ user.fullName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.medicalStatus }}</td>
          <td>{{ user.flatType }}</td>
          <td>{{ user.finaincalStatus }}</td>
          <td>{{ user.haveKids ? 'Yes' : 'No' }}</td>
          <td>{{ user.moreDetails  }}</td>
          
        
        </tr>
      </tbody>
    </table>
  </div>
</div>
