<div class="main-wrapper pet profile">
  <div class="crumb">
    <div class="container">
      <h1>
        Adopt <span class="wow pulse" data-wow-delay="1s"> Pet </span>
      </h1>
      <div class="bg_tran">
        Adopt Pet
      </div>
      <p>
        <a href="index-5.html" title="Home">HOME</a>
        || <span> PETS </span>
      </p>
    </div>
  </div>
  <section class="profile">
    <div class="container">
      <div class="slide">
        <div class="row">
          <div class="col-lg-7 col-md-12 col-sm-12">
            <div class="new_custom images">
              <div class="owl-carousel">
                <div class="item">
                  <div class="testimon">
                    <div class="image">
                      <img src="#" alt="image of pet" title="pet"
                           class="img-fluid customer">
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="testimon">
                    <div class="image">
                      <img src="#" alt="image of pet" title="pet"
                           class="img-fluid customer">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="spec">
              <div class="name">
                <h3>Name: <span> Tinko </span></h3>
              </div>
              <ul>
                <li><i class="fas fa-paw yellow me-2"></i> Age: 6</li>
                <li><i class="fas fa-paw yellow me-2"></i> Gender: Male</li>
                <li><i class="fas fa-paw yellow me-2"></i> Hollywood, FL</li>
                <li><i class="fas fa-paw yellow me-2"></i> Size: 5</li>
                <li><i class="fas fa-paw yellow me-2"></i> Weight: 6</li>
                <li><i class="fas fa-paw yellow me-2"></i> Color: White</li>
                <li><i class="fas fa-paw yellow me-2"></i> Breed: Dongu</li>
                <li><i class="fas fa-paw yellow me-2"></i> Location: Florida</li>
              </ul>
              <div class="button">
                <a href="#" class="btn main" title="Buy Now">
                  Buy Now <i class="fas fa-paw"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>
