        <!--End Main Header -->
<!--Page Title-->
<section class="page-title" style="background-image: url(assets/images/background/7.jpg)">
  <div class="auto-container">
    <div class="clearfix">
      <div class="pull-left">
        <h1>News Details</h1>
      </div>
      <div class="pull-right">
        <ul class="page-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Content Side / Blog Single-->
      <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
        <div class="blog-single padding-right">
          <div class="inner-box">
            <div class="image">
              <img src="assets/images/resource/news-10.jpg" alt="" />
            </div>
            <div class="lower-content">
              <div class="title-box">
                <div class="date-box">25 <span>Feb</span></div>
                <h3>{{story.title}}</h3>
                <ul class="post-meta">
                  <li>Pet Care</li>
                  <li>20 Comments</li>
                  <li><span class="icon fa fa-heart"></span> 196</li>
                </ul>
              </div>
              <div class="text">
                <p>
                  {{story.storyText}}
                </p>
                <p>
                  Reproachful lugubrious dry gazelle far lobster deftly shoddy and far checkedr
                  more wow much darn far grudgingly yet speechlessly gosh where less away and
                  adequate before upon by until respectful found a like authentically much
                  after clapped impolite goodness showy witlessly the rhinoceros he the beaver
                  the hello far excluding opossum gibber closed jeepers scowled crud more.
                </p>
                <div class="row clearfix">
                  <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="image">
                      <img src="assets/images/resource/news-11.jpg" alt="" />
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <p>
                      Dry gazelle far lobster deftly shoddy and chek sar more wow much darn
                      far grudgingly is sad speechlesy gosh where less away and adequat
                      before upon until respectful found like authen tically much after.
                    </p>
                    <p>
                      Clapped impolite goodness showy witlesly the rhinoceros the beaver
                      the hello far excluding opossum gibbered closed jeper scowled cruds
                      more away gazel petulantly crud lighthearted darn redid more ouch a
                      banally.
                    </p>
                  </div>
                </div>
                <p>
                  Acute yellow re-laid less or affirmatively elephant the forbade this gaudy
                  thus for but but yawned that alas before less thus and serenely versus
                  cannily the on because blind a cuckoo jeepers told blew held far hello far
                  as the while private much lantern and less cockatoo returned disbanded into.
                </p>
              </div>
              <!--post-share-options-->
              <div class="post-share-options clearfix">
                <div class="pull-left tags">
                  <span>Post Tags:</span><a href="#">Pets,</a> <a href="#">Grooming,</a> <a href="#"> Shelter,</a><a href="#"> Breeds</a>
                </div>
                <div class="pull-right social-icon-four clearfix">
                  <span class="share">Share</span>
                  <a href="#"><span class="fa fa-twitter"></span></a>
                  <a href="#"><span class="fa fa-facebook-square"></span></a>
                  <a href="#"><span class="fa fa-linkedin"></span></a>
                  <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Comments Area-->
        <div class="comments-area">
          <div class="group-title">
            <h2>Comments</h2>
          </div>
          <!--Comment Box-->
          <div class="comment-box">
            <div class="comment">
              <div class="author-thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
              <div class="comment-inner">
                <div class="comment-info clearfix">
                  <strong>Cindy Cambell</strong>
                  <div class="comment-time">march 31, 2021</div>
                </div>
                <div class="text">
                  And one into considering ahead yet tepid far oriole pointed
                  wildebeest jeepers contrary circa hello rolled alas goldfinch less apt
                  wherever suitably.
                </div>
                <a class="comment-reply" href="#">Reply</a>
              </div>
            </div>
          </div>
          <!--Comment Box-->
          <div class="comment-box reply-comment">
            <div class="comment">
              <div class="author-thumb"><img src="assets/images/resource/author-3.jpg" alt=""></div>
              <div class="comment-inner">
                <div class="comment-info clearfix">
                  <strong>Sandy Astral</strong>
                  <div class="comment-time">march 31, 2021</div>
                </div>
                <div class="text">
                  Well gaudy hound hired inset flailed luxuriant much followed
                  orio less this maternal oh well unavoidable crudely aloof in more save
                  groomed.
                </div>
                <a class="comment-reply" href="#">Reply</a>
              </div>
            </div>
          </div>
        </div>
        <!--End Comments Area-->
        <!-- Comment Form -->
        <div class="comment-form">
          <div class="group-title">
            <h2>Leave Reply</h2>
          </div>
          <form method="post" action="https://www.shmai.com/preview/pawrex-html/contact.html">
            <div class="row clearfix">
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" name="username" placeholder="Name" required>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 form-group">
                <input type="text" name="username" placeholder="Email" required>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <textarea name="message" placeholder="Comments"></textarea>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                <button class="theme-btn btn-style-four" type="submit" name="submit-form">
                  leave
                  a comment
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--Sidebar Side-->
      <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
        <aside class="sidebar">
          <!-- Search -->
          <div class="sidebar-widget search-box">
            <form method="post" action="https://www.shmai.com/preview/pawrex-html/contact.html">
              <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search" required>
                <button type="submit"><span class="icon fa fa-search"></span></button>
              </div>
            </form>
          </div>
          <!--Blog Category Widget-->
          <div class="sidebar-widget sidebar-blog-category">
            <div class="sidebar-title">
              <h2>categories</h2>
            </div>
            <ul class="cat-list">
              <li><a href="#">Pets Lovers</a></li>
              <li><a href="#">Cats & Dogs Food</a></li>
              <li><a href="#">Other Pets</a></li>
              <li><a href="#">Pets Health</a></li>
              <li><a href="#">Homemade & DIY</a></li>
              <li><a href="#">Pets Adoption</a></li>
              <li><a href="#">Vaccine Care</a></li>
            </ul>
          </div>
          <!--Blog Category Widget-->
          <div class="sidebar-widget adoption">
            <div class="sidebar-title">
              <h2>For Adoptions</h2>
            </div>
            <div class="row clearfix">
              <a href="assets/images/resource/thumb-1.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-1.jpg" alt="" /></a>
              <a href="images/resource/thumb-2.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-2.jpg" alt="" /></a>
              <a href="images/resource/thumb-3.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-3.jpg" alt="" /></a>
              <a href="images/resource/thumb-4.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-4.jpg" alt="" /></a>
              <a href="images/resource/thumb-5.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-5.jpg" alt="" /></a>
              <a href="images/resource/thumb-6.jpg" data-fancybox="images" data-caption=""
                 class="lightbox-image"><img src="images/resource/thumb-6.jpg" alt="" /></a>
            </div>
          </div>
          <!-- Popular Tags -->
          <div class="sidebar-widget popular-tags">
            <div class="sidebar-title">
              <h2>tags</h2>
            </div>
            <a href="#">pet lovers</a>
            <a href="#">cat</a>
            <a href="#">dog</a>
            <a href="#">grooming</a>
            <a href="#">pet care</a>
            <a href="#">pet lovers</a>
          </div>
          <!-- Popular Posts -->
          <div class="sidebar-widget popular-posts">
            <div class="sidebar-title">
              <h2>Recent Posts</h2>
            </div>
            <article class="post">
              <figure class="post-thumb">
                <a href="blog-single.html">
                  <img src="images/resource/post-thumb-3.jpg" alt="">
                </a>
              </figure>
              <div class="text">
                <a href="blog-single.html">
                  Considering at aesthetic more some
                  dreamed
                </a>
              </div>
              <div class="post-info">Feb 31, 2021</div>
            </article>
            <article class="post">
              <figure class="post-thumb">
                <a href="blog-single.html">
                  <img src="images/resource/post-thumb-4.jpg" alt="">
                </a>
              </figure>
              <div class="text">
                <a href="blog-single.html">
                  Dear gose dreamed less confessedly
                  some
                </a>
              </div>
              <div class="post-info">Jan 25, 2021</div>
            </article>
            <article class="post">
              <figure class="post-thumb">
                <a href="blog-single.html">
                  <img src="images/resource/post-thumb-5.jpg" alt="">
                </a>
              </figure>
              <div class="text">
                <a href="blog-single.html">
                  At away gazel petulantly crud
                  lightheartedly
                </a>
              </div>
              <div class="post-info">Jan 19, 2021</div>
            </article>
          </div>
        </aside>
      </div>
      <!--End Sidebar Side-->
    </div>
  </div>
</div>
