.story-text {
  white-space: pre-wrap; /* This ensures that whitespace and line breaks are preserved */
  font-family: inherit; /* Uses the default font of the surrounding text */
  font-size: inherit; /* Keeps the default font size */
  line-height: 1.6; /* Adjusts the line height for readability */
  text-align:justify;
}

.btn-outline-primary {
  color: #e7470c;
  border-color: #e7470c;
}
  .btn-outline-primary:hover {
    background-color: #e7470c;
    color: white;
  }

.btn {
  padding: .15rem 0.75rem;
}
