<section class="page-title" style="background-image:url(images/background/7.jpg)">
  <div class="auto-container">
    <div class="clearfix">
      <div class="pull-left">
        <h1>Our News</h1>
      </div>
      <div class="pull-right">
        <ul class="page-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Page Title-->
<!--Blog Page Section-->
<section class="blog-page-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="images/resource/news-4.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Pet Care</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Some toughly useful much walking before</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="images/resource/news-5.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Grooming</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Acute yellow re-laid less or affirmatively cats</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Pet Care</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Some toughly useful much walking before</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="images/resource/news-7.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Grooming</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Acute yellow re-laid less or affirmatively cats</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="images/resource/news-8.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Pet Care</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Some toughly useful much walking before</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
      <!--News Block-->
      <div class="news-block-two col-md-6 col-sm-12 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a href="blog-single.html"><img src="images/resource/news-9.jpg" alt="" /></a>
            <div class="post-date">25 <span>Feb</span></div>
          </div>
          <div class="lower-content">
            <ul class="post-meta">
              <li>Grooming</li>
              <li>20 Comments</li>
              <li><span class="icon fa fa-heart"></span> 196</li>
            </ul>
            <h3><a href="blog-single.html">Acute yellow re-laid less or affirmatively cats</a></h3>
            <div class="text">
              Broadcast neglectful and poignantly well until and some listlessly
              amidst cessful concentrically ably dachshund more far forwardly echidna outside
              tiger split thanks far vibrantly gosh hence pang.
            </div>
            <a href="blog-single.html" class="theme-btn btn-style-eight">read more</a>
          </div>
        </div>
      </div>
    </div>
    <!--Styled Pagination-->
    <ul class="styled-pagination text-center">
      <li><a href="#" class="active">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="next"><a href="#">Next</a></li>
    </ul>
    <!--End Styled Pagination-->
  </div>
</section>
<!--End Blog Page Section-->
